body{
    background-color: #CCCCCC;
    padding-top: 50px;
}
.todoCard{
    background-color: #F1F1F1;
    border: 1px solid #454545;
    border-radius: 5px;
    box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, .3);
    width: 650px;
    height: auto;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list{
    width: auto;
    height: auto;
    padding: 10px;
}
h1{
    text-align: center;
    font-family: 'Lato';
    font-size: 2rem;
}

#item{
    width: 200px;
    height: 30px;
    font-family: 'Lato', 'Sans-serif';
    font-size: 1rem;
    border: 1px solid #454545;
}
#add{
width:auto;
height: auto;
padding: 5px;
background-color:#f89317;
border: 1px solid #454545;
border-radius: 5px;
font-family: 'Lato';
font-size: 0.75rem;
color: #454545;
}
#add:hover{
background-color: #454545;
color: #f89317;
}

ul{
    margin-top: 20px;
    list-style-type: none;
    font-family: "Lato";
    font-weight: bold;
    font-size: 0.875rem;
    color: #454545;
}
li{
    margin-bottom: 5px;
}